@page
@model Pizzeria.Pages.OrdersModel
@{
}
<link rel="stylesheet" href="./css/site.css" />
<div class="bg-white border p-1">
<h3>Orders</h3>

<hr />

<table class="table table-striped font">
    <thead class="bg-warning text-white"><tr>
            <th>Id</th>
            <th>Pizza</th>
            <th>Price</th>
    </tr></thead>
    <tbody>
        @foreach(var order in Model.PizzaOrders) {
            <tr class="font">
                <td>
                    @order.Id
                </td>
                <td>
                    @order.PizzaName
                </td>
                <td>
                    @order.BasePrice $
                </td>
            </tr>
        }
       
    </tbody>
</table>
</div>